* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:root {
  --main-bg-color: #3e3e3e;
  --default-color: #ededed;
  --default-font-size: 15px;
  --button-bg: linear-gradient(to bottom right, pink, purple);
  --stoplight-bg-color: #242424;
  --stoplight-red: #E50000;
  --stoplight-yellow: #E5BF00; 
  --stoplight-green: #32A431;
  --main-border: 2px solid black;
}

body {
  background-color: var(--main-bg-color);
  color: var(--default-color);
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.contentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-bottom: 30px;
}

.stoplight {
  background-color: var(--stoplight-bg-color);
  border: var(--main-border);
  border-radius: 20px;
  height: 200px;
  width: 100px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.circle {
  width: 60px;
  height: 60px;
  background-color: var(--default-color);
  border-radius: 50px;
  border: var(--main-border);
}

.red {
  width: 60px;
  height: 60px;
  background-color: var(--stoplight-red);
  border-radius: 50px;
  border: var(--main-border);
}

.yellow {
  width: 60px;
  height: 60px;
  background-color: var(--stoplight-yellow);
  border-radius: 50px;
  border: var(--main-border);
}

.green {
  width: 60px;
  height: 60px;
  background-color: var(--stoplight-green);
  border-radius: 50px;
  border: var(--main-border);
}

.interactables {
  margin-left: 10px;
}

button {
  background: var(--button-bg);
  margin-bottom: 10px;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border: var(--main-border);
  font-weight: bold;
  font-size: var(--default-font-size);
}

button:active {
  box-shadow: inset 0 0 10px black;
}

.modes {
  margin-top: 10px;
}

.inputGroup {
  display: flex;
  align-items: center;
}

.random {
  margin-bottom: 5px;
}

.ordered {
  margin-top: 5px;
}

input {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

label {
  font-size: var(--default-font-size);
}